<%results.forEach(elt=>{%>
    <div class="divResults"> 
           <h1><%=elt.name%></h1>
            <audio controls>
                <source src="<%=elt.preview_url%>" type="audio/mpeg">
              </audio>
            </div>
    <%})%>
    </div>
      