<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />

    <title>Document</title>
</head>
<body>
    <body>

        <section class="secResults">
    
            <%results.forEach(elt=>{%>
            <div class="divResults"> <% if (elt.images.length!=0) { %>
                <img src="<%=elt.images[0].url%>" alt="">
            <% } %>
                <h1><%=elt.name  %> </h1>
                <h1><a href="/preview/<%=elt.id%>">Listen too</a></h1>
            </div>
            <%})%>
            </div>
        </section>
    </body>
    
</body>
</html>